CompileFlags:
  Add: [
    "-std=c++20",
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Utils/,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Utils/fcitx-utils/,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Core,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Config/,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Module/,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Module/fcitx-module/quickphrase/,
    -I/opt/homebrew/opt/boost/include/,
    -I/Library/Input Methods/Fcitx5.app/Contents/include/Fcitx5/Module/fcitx-module/fcitx5-chinese-addons/modules/punctuation/,
    -Wunused-variable,
  ]
