CompileFlags:
  Add: [
    "-std=c++20",
    -I/home/sonnycalcr/EDisk/CppCodes/IMECodes/fcitx5-FanIME/src/,
    -I/usr/include/Fcitx5/Utils/,
    -I/usr/include/Fcitx5/Utils/fcitx-utils/,
    -I/usr/include/Fcitx5/Core/,
    -I/usr/include/Fcitx5/Config/,
    -I/usr/include/Fcitx5/Module/,
    -I/usr/include/Fcitx5/Module/fcitx-module/punctuation/,
    -I/usr/include/Fcitx5/Module/fcitx-module/quickphrase/,
    -Wunused-variable,
  ]
